.page_container_artist{
  display: flex;
  flex-direction: column;
 /* padding-top: 58px;*/
}

.hero_artist {
  background-image: url('../../assets/images/annie_cover2.jpg');
  position:absolute;
  display: table;
	background-repeat: no-repeat;
  background-position: left top;
  margin: auto;
  max-height:100%;
  max-width:100%;
}

.artistNav{
  display: flex;
  justify-content: space-between;
}


#artistName{
margin-left: 20px;
}

#socialProperties{
  align-self: center;
  margin-right: 10px;
}

#socialProperties a{
  text-decoration: none;
}

#artistSig{
  align-self: center;
}

#artistSig img{
  height:25px;  
}

/*.picture-overlay {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*height: 400px;*/
  /*justify-content: flex-end;*/
  /*align-items: flex-end;*/
  /*padding-right:10px;*/
  /*padding-bottom: 5px;*/
/*}*/