
/*
Hero Image CSS*/
.hero {
  background: url('../../assets/images/cover_4.14.1622.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  height: 600px;
}

/*Md-Fab CSS*/
.picture-overlay {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right:10px;
  padding-bottom: 5px;
}

.main_container{
  display: flex;
}


.description {
  background-color: black;
  flex-wrap: wrap;
  min-height: 400px;
  justify-content: space-around;
  align-items: center;  
  padding:20px;
}

.description .big-fab{
  background-color: white;
  height: 175px;
  width: 175px;
}

.categories{
  background-color: white;
  flex-wrap: wrap;
  min-height: 400px;
  justify-content: space-around;
  align-items: center;  
  padding:20px;
}
  
.categories .big-fab{
  background-color: black;
  height: 175px;
  width: 175px;
}

.parent_curated{
  background-color: #3F51B5;
  padding-top: 20px;
}

.curated{
  background-color: #3F51B5;
  flex-wrap: wrap;
  min-height: 400px;
  justify-content: space-around;
  align-items: center;  
  padding:20px;
}

.curated .big-fab{
  background-color: #FF4081;
  height: 175px;
  width: 175px;
}

.featured{
  background-color: #00BCD4;
  flex-wrap: wrap;
  min-height: 400px;
  justify-content: space-around;
  align-items: center;  
  padding:20px;
}

.featured md-card {
  min-width: 300px;
  max-width: 500px;
}

.music{
  background-color: red;
}

#content.contact {
  background-color: green;
  border-radius: 75%;
  padding:105px;
  transition: all 100ms ease-out 30ms;
}

/*Artist Card Profile Circles*/
img.large.md-user-avatar{
  width:58px;
  margin-top: -15px;
  margin-left: -10px;
}

/*Small Card (Cover photo + Profile) Styling*/
/*Title*/
span.md-title.ng-binding.small_card {
    margin-left: 20px;
    font-size: 16px;
}
/*Subtitle*/
span.md-subhead.small_card {
    margin-left: 20px;
}
/*Position of Fab Toolbar */
md-fab-toolbar.ng-isolate-scope.md-animations-ready.md-fab-toolbar.md-left {
  display: block;
    z-index: inherit;
    margin-top: -35px;
}

/*Height of photograph*/
/*img.md-card-image {
    max-height: 247px;
}*/








/*
Media Queries: Laptops*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
/*    change size of hero photo for large screens
*/   .hero {
    height: 400px;
   } 
   .picture-overlay{
    height: 650px;
    flex-direction: row;
    padding-right:20px;
   }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
     .hero {
    height: 450px;
   } 
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .hero {
    height: 450px;
   } 
}


