<!--   <div ng-hide="{{artist}}">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div> -->

<div>
  

<div class="page_container_artist">
	<!-- <div class="hero" style="background-image:url('{{artist.cover_photo}}')"></div> -->
	<div class="hero"></div>
<!-- 	<div class="hero"></div> -->
  <h3>{{selectedArtist.name}} {{selectedArtist.name_last}}</h3>
	  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="/#/artist_work" name="Artists">Work</md-nav-item>
      <md-nav-item md-nav-click="goto('page2')" name="Events">Story</md-nav-item>
    </md-nav-bar>
</div>

      <!-- <md-card>
        <md-card-header> -->
<!--           <md-card-avatar>
            <img src="img/logo.svg"/>
          </md-card-avatar> -->
<!--           <md-card-header-text>
            <span class="md-title">{{artists}}</span>
            <span class="md-subhead">Charcoal & Paper</span>
          </md-card-header-text>
        </md-card-header>
        <img src="'../../assets/images/annie_cover2.jpg" class="md-card-image" alt="Washed Out"> -->
<!--         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card header</span>
          </md-card-title-text>
        </md-card-title> -->
<!--         <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content> -->
<!--       </md-card> -->

      <!-- <md-card>
        <md-card-header> -->
<!--           <md-card-avatar>
            <img src="img/logo.svg"/>
          </md-card-avatar> -->
          <!-- <md-card-header-text>
            <span class="md-title">Brooklyn Street</span>
            <span class="md-subhead">Charcoal & Paper</span>
          </md-card-header-text>
        </md-card-header>
        <img src="'../../assets/images/annie_cover2.jpg" class="md-card-image" alt="Washed Out"> -->
<!--         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card header</span>
          </md-card-title-text>
        </md-card-title> -->
<!--         <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content> -->
      <!-- </md-card> -->
  </div>
