


<!-- <div id="steps">
	<div class="step">
			<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_1" style="background-color: #FFEBEE">
			1
	   </md-button>
	</div>
	<div class="step">
					<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_2">
			2
	   </md-button>
	</div> 
	<div class="step">
					<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_3">
			3
	   </md-button>
	</div>
		<div class="step">
					<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_4">
			4
	   </md-button>
	</div>
</div> -->

<div class="page_container_discover">

<div id="basics" class="maxFormWidth" ng-cloak>
	<md-toolbar class="toolbar_basics">
	  <div class="md-toolbar-tools">
	   	<h2 class="md-flex">The Basics</h2>
	  </div>
	  <md-button ng-click="openBasics = !openBasics">Instructions</md-button>
<!-- 	  <md-button class="help" class="menu" ng-click="openBasics = !openBasics" aria-label="Help">
          <md-icon md-svg-icon="help_black"></md-icon>
    </md-button> -->
	</md-toolbar>

	<div class="toggle-content" ng-show="openBasics">

  </div>
	
		
	<md-content layout-padding>
	<div layout-gt-sm="row" >
	  <md-input-container class="md-block" flex-gt-sm="">
	    <label>First Name</label>
	    <input ng-model="currentUser.name">
	  </md-input-container>
	  <md-input-container class="md-block" flex-gt-sm="">
	    <label>Last Name</label>
	    <input ng-model="currentUser.name_last" type="text">
	  </md-input-container>
	</div>


	  <div layout-gt-sm="row">
	  <md-input-container class="md-block" flex-gt-sm="">
	    <label>Birthday (MM/DD/YYYY)</label>
	    <input ng-model="currentUser.dob" type="text">
	  </md-input-container><br>
		  <md-input-container class="md-block" flex-gt-sm="">
		    <label>Hometown City</label>
		    <input ng-model="currentUser.hometown" type="text">
		  </md-input-container><br>

		  <md-input-container class="md-block" flex-gt-sm="">
		    <label>Hometown State</label>
		    <input ng-model="currentUser.hometown_state" type="text">
		  </md-input-container><br>
 		</div>

    <md-input-container class="md-block" flex-gt-sm style="padding-bottom: 10px">
      <label>Neighborhood</label>
        <md-select ng-model="currentUser.neighborhood">
          <md-option ng-repeat="neighborhood in neighborhoods" value="{{neighborhood.abbrev}}">{{neighborhood.abbrev}}
          </md-option>
        </md-select>
    </md-input-container>
	 </md-content>

<!-- 	 <div id="saveBasics">
		 <md-button class="md-fab md-raised" id="saveBasicsButton" aria-label="FAB" ng-click="saveBasics()">

	      Save
	   </md-button>
	 </div> -->

</div>

<div id="theArt" class="maxFormWidth" ng-cloak>
	<md-toolbar class="toolbar_theArt">
	  <div class="md-toolbar-tools">
	   	<h2 class="md-flex">The Art</h2>
	  </div>
	  <md-button ng-click="openArt = !openArt">Instructions</md-button>
	</md-toolbar>
		<div class="toggle-content" ng-show="openArt">
  	</div>
	<md-content layout-padding>
		<div layout-gt-sm="row">
	    <md-select class="media_submedia" ng-model="selectedMedium" placeholder="Medium" md-on-close="loadSubMediums(selectedMedium); ifMusic(selectedMedium); getArtists(selectedMedium)" ng-selected="selectedMedium">
	     <md-optgroup label="Mediums">
	    <md-option ng-value="medium" ng-repeat="medium in mediums">{{ medium.name }}</md-option>
	  </md-select>

        <md-select class="media_submedia" ng-model="selectedSubmedium" placeholder="Genre" md-on-close="test(); getArtists()" ng-selected="selectedSubmedium" multiple>
          <md-optgroup label="Genres">
						<md-option ng-value="submedium" ng-repeat="submedium in submedia">{{submedium}}</md-option>
        </md-select>
	  </div>

<!-- 	   <md-select ng-model="artistType" placeholder="How would you categorize yourself?" md-on-close="" ng-selected="artistType">
          <md-optgroup label="Category of Artist">
						<md-option ng-value="years" placeholder="How would you categorize yourself?" ng-repeat="selection in types">{{selection.name}}</md-option>
     </md-select> -->
	 </md-content>
</div>

<div id="story" class="maxFormWidth" ng-cloak>
	<md-toolbar class="toolbar_theArt">
	  <div class="md-toolbar-tools">
	   	<h2 class="md-flex">Your Story</h2>
	  </div>
	  <md-button ng-click="openArt = !openArt">Instructions</md-button>
	</md-toolbar>
	<md-content layout-padding>
		 <md-input-container class="md-block">
		          <label>Biography</label>
		          <textarea ng-model="currentUser.biography" md-maxlength="450" rows="5" md-select-on-focus></textarea>
		        </md-input-container>
	</md-content>
</div>

<div id="sample" class="maxFormWidth" ng-cloak>

	<!-- 
	TODO: Add a title to the song as an input that (along with User Id) becomes Firebase Storage Ref -->
	<md-toolbar class="toolbar_properties">
		  <div class="md-toolbar-tools">
		   	<h2 class="md-flex">Sample of Your Work</h2>
		  </div>
		  <md-button ng-click="openProperties = !openProperties">Instructions</md-button>
		</md-toolbar>
		<md-content layout-padding>
		  <md-input-container class="md-block flex" flex-gt-sm="">
			    <label>Name of Work</label>
			    <input ng-model="currentUser.sampleWork" type="text"> <md-button ng-click="setMusicRef(currentUser.sampleWork)">Set Name</md-button>
			</md-input-container><br>
			<label>Step 2: Select mp3 file</label>
			<input type="file" id="fileInput"><br>
			<label>Step 3: Upload Song</label>
			<md-button  id="saveSampleButton" aria-label="FAB" ng-click="saveSampleWork()">
				Upload Work
			</md-button>
		</md-content>
<!-- 			 <div id="saveSample">
		   	</md-button>	
		  </div>
			</div> -->
</div>
	  <div id="saveArt">
		 <md-button class="md-fab md-raised" id="saveArtButton" aria-label="FAB" ng-click="saveArtist()">
			Save
	   </md-button>	
	  </div>

<div id="properties" class="maxFormWidth" ng-cloak>
	<md-toolbar class="toolbar_properties">
	  <div class="md-toolbar-tools">
	   	<h2 class="md-flex">Your Properties</h2>
	  </div>
	  <md-button ng-click="openProperties = !openProperties">Instructions</md-button>
	</md-toolbar>
		<div class="toggle-content" ng-show="openProperties">
  	</div>
	  
	<md-content layout-padding>
	  <md-input-container class="md-block">
	    <label>Website</label>
	    <input ng-model="website">
	  </md-input-container>

	  <md-input-container class="md-block">
	    <label>Instagram</label>
	    <input ng-model="instagram" type="text">
	  </md-input-container>

	  <md-input-container class="md-block">
	    <label>Twitter</label>
	    <input ng-model="twitter" type="text">
	  </md-input-container><br>

	  <md-input-container class="md-block">
	    <label>Store</label>
	    <input ng-model="store" type="text">
	  </md-input-container><br>
 	
 		<md-input-container class="md-block">
	    <label>Soundcloud</label>
	    <input ng-model="soundcloud" type="text">
	  </md-input-container><br>


	  <md-input-container class="md-block">
	    <label>Bandcamp</label>
	    <input ng-model="bandcamp" type="text">
	  </md-input-container><br>

	  <md-input-container class="md-block">
	    <label>Spotify</label>
	    <input ng-model="spotify" type="text">
	  </md-input-container><br>
	 </md-content>

	  <div id="saveProperties">
	  	<md-button class="md-fab md-raised" id="savePropertiesButton" aria-label="FAB" ng-click="vm.registerProperties()">
	  	<!-- 		 Check Icon -->
<!-- 	      <md-icon md-svg-icon="enter_black"></md-icon> -->
			Save
	   </md-button>	
	  </div>
</div>


<md-button id="Save" aria-label="FAB" ui-sref="signupArtist_2">Save & Continue</md-button>

</div>




