<!-- <div class="page_container">
	<div class="discovery_hero">
	  <md-select class="media_submedia" ng-model="selectedMedium" placeholder="Medium" md-on-close="loadSubMediums(selectedMedium); getArtists()" ng-selected="selectedMedium">
	    <md-option ng-value="medium" ng-repeat="medium in mediums">{{ medium.name }}</md-option>
	  </md-select>
	  	
	  <md-select class="media_submedia" ng-model="selectedSubmedium" placeholder="Genre" md-on-close="test(); getArtists()" ng-selected="selectedSubmedium">
	  	<md-option ng-value="submedium" ng-repeat="submedium in submedia">{{submedium}}</md-option>
	  </md-select>
	</div> -->
<div class="page_container_discover">
<!-- 	<div class="discovery_hero"></div>
  <div class="picture-overlay"></div> -->
  <h1>{{selectedMedium.name}}</h1>
  <md-select class="media_submedia" ng-model="selectedMedium" placeholder="Medium" md-on-close="loadSubMediums(selectedMedium); ifMusic(selectedMedium); getArtists(selectedMedium)" ng-selected="selectedMedium">
	    <md-option ng-value="medium" ng-repeat="medium in mediums">{{ medium.name }}</md-option>
	  </md-select>
	  	
	  <md-select class="media_submedia" ng-model="selectedSubmedium" placeholder="Genre" md-on-close="test()" ng-selected="selectedSubmedium" multiple>
	  	<md-option ng-value="submedium" ng-repeat="submedium in submedia">{{submedium}}</md-option>
	  </md-select>

	
<!-- 	<md-tabs ng-show='selectionMade()' md-center-tabs>
    <md-tab label="Events">
      <md-content class="md-padding">
        <h1 class="md-display-2">Events</h1>
        	<div  ng-repeat="artist in results">
						 <md-card class="query_card" md-whiteframe="3">
				        <img ng-src="../../assets/images/cover_4.14.1622.png" class="md-card-image">
			
				        <md-card-actions layout="row" layout-align="end center">
				          <md-button class="md-fab" ng-click="play()" aria-label="Show Menu" style="background-color: #ffdad5">
		          			<md-icon md-svg-icon="playArrow_black"></md-icon>
		        			</md-button>
				        	{{artist.first_name}} {{artist.last_name}}
				        </md-card-actions>
				      </md-card>
					</div>

      </md-content>
    </md-tab>
    <md-tab label="Artists">
      <md-content class="md-padding">
        <h1 class="md-display-2">Artists</h1>
			  <div class="query_results">
					<div  ng-repeat="artist in results">
						 <md-card class="query_card" md-whiteframe="3">
				        <img ng-src="../../assets/images/cover_4.14.1622.png" class="md-card-image">
			
				        <md-card-actions layout="row" layout-align="end center">
				          <md-button class="md-fab" ng-click="play()" aria-label="Show Menu" style="background-color: #ffdad5">
		          			<md-icon md-svg-icon="playArrow_black"></md-icon>
		        			</md-button>
				        	{{artist.first_name}} {{artist.last_name}}
				        </md-card-actions>
				      </md-card>
					</div>
				</div>
      </md-content>
    </md-tab>
  </md-tabs> -->
<!-- 
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item ng-repeat="item in navItems" md-nav-click="goto('{{item.value}}')" name="{{item.value}}">{{item.label}}</md-nav-item>
    </md-nav-bar>
</div> -->


  <div ng-cloak>
  <md-content ng-show='selectionMade()'>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
      <md-tab label="Artists">
        <md-content class="md-padding">
	    <md-button class="md-primary" md-fab ng-show='selectionMade()' ng-click="openBasics = !openBasics">Filters</md-button>

			<div class="toggle-content" ng-show="openBasics">
				<div>
				<h6>DATE</h6><md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
				<label>Search: <input ng-model="searchText"></label>
				</div>

		  </div>
          <div class="query_results" layout-padding>
						<a  ng-repeat="artist in results  | filter: searchText" href="/#/artist/{{artist.selectedMedium}}/{{artist.uid}}">
							 <md-card class="query_card" md-whiteframe="3">
					        <img ng-src="../../assets/images/cover_4.14.1622.png" class="md-card-image">
				
					        <md-card-actions layout="row" layout-align="end center">
<!-- 					          <md-button class="md-fab" ng-click="play()" aria-label="Show Menu" style="background-color: #ffdad5">
			          			<md-icon md-svg-icon="playArrow_black"></md-icon>
			        			</md-button> -->
<!-- 			        			<div class="ui360">
										 <a href="/path/to/an.mp3">play "an.mp3"</a>
										</div> -->
					        	{{artist.name}} {{artist.name_last}}
					        </md-card-actions>
					      </md-card>
					   </a>
					</div>
        </md-content>
      </md-tab>
      <md-tab label="Events">
        <md-content class="md-padding">
          <h1 class="md-display-2">Events</h1>
          <p>Events</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

