<div class="page_container_discover">
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Login">
          <md-content class="md-padding">
            <p>
              login here ...
            </p>
            <div>
              <md-input-container>
                <label>Email</label>
                <input ng-model="existingUser.email">
              </md-input-container>
              <md-input-container>
                <label>Password</label>
                <input ng-model="existingUser.password" type="password">
              </md-input-container>
              <a>Forgot Password?</a>
            </div>
            <md-button class="md-fab" aria-label="Button" ng-click=emailSignin(existingUser)>Login</md-button>
            <md-button class="md-fab" style="background-color: blue" aria-label="Button" ng-click="fbLogin()">FB</md-button>
          </md-content>
        </md-tab>
        <md-tab label="Sign Up">
          <md-content class="md-padding">
            <p>
              signup here
            </p>
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="user.password" type="password">
            </md-input-container>
            {{errorMessage}}
            <md-input-container>
              <label>Confirm Password</label>
              <input ng-model="user.email2" type="password">
            </md-input-container>
            <md-button class="md-fab" aria-label="Button" ng-click=email(user)>SU</md-button>
            <md-button class="md-fab" style="background-color: blue" aria-label="Button" ng-click="fbLogin()">FB Signup</md-button>
          </md-content>

        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>